<!DOCTYPE html>
<html>
  <head>
    <title>Добавить информацию</title>    
    <meta charset="utf-8">
   </head>
<body>
{% extends "base.html" %}
<br>
<br>
{% block content %}
  <h1>Добавить информацию</h1>
<br>
<text>
Вы можете добавить информацию о данных видео, о жестикуляции, о мимике и о тексте. 
<br>
Если хотите добавить данные о видео в базу данных - введите сначала "insert_meta" затем (без пробелов перед числами!) введите необходимые параметры, разделяя их точкой с запятой. А именно: id_video;name;date_of_recording;location;author;lang
<br>
Если хотите добавить определенную жестикуляцию в базу данных - введите "insert_zhest" затем (без пробелов перед числами!) введите необходимые параметры, разделяя их точкой с запятой. А именно: id_video;time;zhesticulation
<br>
Если хотите добавить определенную мимку в базу данных - введите "insert_mimic" затем (без пробелов перед числами!) введите необходимые параметры, разделяя их точкой с запятой. А именно: item_id;customer_id;date
<br>
Если хотите добавить текст видео в базу данных - введите "insert_text" затем (без пробелов перед числами!) ведите необходимые параметры, разделяя их точкой с запятой. А именно: id_video;time;text 
</text>

<br>
<form>
<input type="text" name="function">
<input type="text" name="parametrs">
<div class="submission"><input type="submit" value="Добавить"></div>
</form>
{% endblock %}
</body>
</html>