<!DOCTYPE html>
<html>
  <head>
    <title>Сделано!</title>    
    <meta charset="utf-8">
   </head>
<body>
{% extends "base.html" %}
<br>
<br>
{% block content %}
  <h1>Искомая таблица:</h1>
<br>

<table>
<tr>
<th>id_video</th>
<th>time</th>
<th>content</th>
</tr>
{% for item in res %}
<tr>
<td>{{ item[0] }}</td>
<td>{{ item[1]}}</td>
<td>{{ item[2]}}</td>
<td>{{ item[3]}}</td>
</tr>
<br>
{% endfor %}
</table>
<text>
Вы можете еще раз воспользоваться навигацией, если хотите.
</text>
{% endblock %}
</body>
</html>