<!DOCTYPE html>
<html>
  <head>
    <title>Добавить информацию</title>    
    <meta charset="utf-8">
   </head>
<body>
{% extends "base.html" %}
<br>
<br>
{% block content %}
  <h1>Добавить информацию</h1>
<br>
<text>
Вы можете добавить информацию о товаре, о покупателе, о покупке и о жалобе. 
<br>
Если хотите добавить товар в базу данных - введите сначала "insert_item" затем (без пробелов перед числами!) введите необходимые параметры, разделяя их точкой с запятой. А именно: name;description;price
<br>
Если хотите добавить покупателя в базу данных - введите "insert_customer" затем (без пробелов перед числами!) введите необходимые параметры, разделяя их точкой с запятой. А именно: name;phone;email
<br>
Если хотите добавить покупку в базу данных - введите "insert_purchase" затем (без пробелов перед числами!) введите необходимые параметры, разделяя их точкой с запятой. А именно: item_id;customer_id;date
<br>
Если хотите добавить жалобу в базу данных - введите "insert_complaint" затем (без пробелов перед числами!) ведите необходимые параметры, разделяя их точкой с запятой. А именно: text(тут пробелы можно);item_id,purchase_id
</text>

<br>
<form>
<input type="text" name="function">
<input type="text" name="parametrs">
<div class="submission"><input type="submit" value="Добавить"></div>
</form>
{% endblock %}
</body>
</html>